
<div class="container ">
  <div class="row">
    <div class="  text-3xl slide-title m-3 py-3 " style="border-bottom: 5px solid #e50914;
     width: fit-content;"> Action Movies</div> 
  </div>
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 d-flex justify-content-center " *ngFor="let slide of actionMovieResult">
                <div class="card m-2">
                    <div class="card-img">
                       <img src="https://image.tmdb.org/t/p/original/{{ slide.poster_path }}"
                       class="img-fluid"
                       alt="Photo of Cartagena's cathedral at the background and some colonial style houses">
                    </div>
                    <div class="card-body">
                      <div class="text-base my-1">{{slide.original_title | slice:0:20}}</div>
                      <span class="text-xs text-gray-300"> 1hr : 44mins &nbsp;&nbsp; </span> <a class="card__button "
                      [routerLink]="['/detail',slide.id]">
                      <i class="fa-solid fa-play"></i>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
